<div class="row mb-4">
  <div class="col-12 my-4 mx-auto">
    <h1 class="display-3">How To Use <mat-icon style="font-size: 1.2em;">live_help</mat-icon></h1> 
  </div>
  <div class="col-12 mx-auto">
    <p class="text-justify lead">
      <strong>
        The main goal of the system is to evaluate the time complexity of the code obtained as an answer to the
        <br>selected question and to examine whether it fulfills the required complexity.
      </strong>
    </p>
    <p class="text-justify lead">
      <strong>
        In order to achieve this, what you have to do is :
      </strong>
    </p>
  </div>
  <div class="col-12 mx-auto">
    <ul>
      <li class="my-2">Pick a question from the list of questions.</li>
      <li class="my-2">Implement the answer to the question within the code editor panel, in such a way that satisfies the API provided<br>
        in the panel, and without any class members (without any use of variables declared outside a method scope).
      </li>
      <li class="my-2">Check whether the code is compiled successfully by clicking 'Build Code' button.</li>
      <li class="my-2">After the code has been compiled, send the code to complexity assessment by clicking the 'Submit Code' button.
      </li>
    </ul>

  </div>
</div>