div.question-card-body {
    cursor: pointer;
    
}

div.question-card:hover {
    border: 3px bold gray !important;
    
}


  /* card */


  .effect6
{
    position:relative;
    -webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.3), 0 0 30px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.3), 0 0 30px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 2px rgba(0, 0, 0, 0.3), 0 0 30px rgba(0, 0, 0, 0.1) inset;
}
.effect6:before, .effect6:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.4);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.4);
    box-shadow:0 0 20px rgba(0,0,0,0.4);
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect6:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}


.card-shadow {
    box-shadow: 0px 1px 10px rgba( 0, 0, 0, 0.20 );
}

.badge-shadow {
    border-left: solid transparent; 
    border-right: solid transparent; 
    /* border-bottom: solid 70px #fff; */
    filter: drop-shadow(0 0 6px rgba(0,0,0,0.4));
  }

  .card-header-font {
    font-family: 'FjallaOneRegular', 'sans-serif';
  }

  .card-body-font {
    font-family: 'RalewayRegular', sans-serif;

  }

