

    <ul class="mx-auto my-2">
        <div
        class="card card-shadow w-75 h-100 m-4 mx-auto" 
        *ngFor = "let question of questions">
            <div class="card-body question-card-body" (click)="onSelectQuestion(question)">
              <h5 class="card-title card-header-font">{{question.name}}</h5>
              <p class="card-text card-body-font">{{question.description}}</p>
              <p class="card-text card-body-font">
                  <small class="text-muted">
                  Last updated 3 mins ago
                </small></p>
            </div>
            <div class="card-footer card-body-font">
                <small> Tags :</small> 
                <span class="badge badge-pill badge-dark badge-shadow text-center font-weight-normal pb-1 m-1" *ngFor="let tag of question.tags">{{tag}}</span>    
            </div>
        </div>

    </ul>
<!-- 
        <div>
            <mat-list>
                    <h3 matSubheader>Folders</h3>
                    <mat-list-item *ngFor="let question of questions">
                       <h4 matLine>{{question.name}}</h4>
                       <p matLine class="demo-2"> {{question.description}} </p>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                 </mat-list>

    </div>
     -->