
<h2 class="display-3 mb-4" >{{selectedQuestion?.name}}</h2>

<h4 class="lead">Description</h4>
<p class="mb-4">
  {{selectedQuestion?.description}}
</p>

<h4 class="lead">Complexity</h4>
<p class="mb-4">
    {{selectedQuestion?.expectedComplexity}}
</p>

<h4 class="lead">Exemples</h4>
<div class="mb-4">
  <div *ngFor="let exemple of selectedQuestion?.exemples">
    <div class="exemple-block p-2 mb-2 w-75">
      <span class="exemple-text">
          <!-- badge badge-secondary -->
          <span class="font-weight-bold">Input</span> : {{exemple.input}}, <span class="font-weight-bold">Output</span> : {{exemple.output}}
      </span> 
    </div>
  </div>

</div>

<div class="mr-4 mt-4 mb-4 w-75" id="codeEditor" #codeEditor> </div>

<!-- buttons -->
<div>
  <button type="button" class="btn btn-light mr-2" (click)="onResetCodeEditor()">Reset</button>
  <button type="button" class="btn btn-secondary mr-2">Run code</button>
  <button type="button" class="btn btn-warning mr-2" (click)="onSubmitFinalCode()">Submit code</button>
</div>






<!-- The result / error part -->

<div *ngIf= "analysisResult != undefined">
  <hr class="m-4 pt-2">
  <!-- error -->
  <div *ngIf= "analysisResult.isError">
      <h2 class="d-block p-2 bg-dark text-white font-weight-bold lead">Error</h2>
    <p>{{analysisResult.result.errorMessage}}</p>
  </div>

  <!-- result -->
  <div *ngIf= "!analysisResult.isError">
      <h2 class="d-block p-2 bg-dark text-white lead">Result</h2>
      <p>{{analysisResult.result.resultComplexity | complexity}}</p>

  </div>
  

</div>