/* header */

.navbar-fixed {
  z-index: 10;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar-shadow {
  box-shadow: 0px 1px 10px rgba( 0, 0, 0, 0.20 );
}

span.navbar-brand {
  cursor: pointer;
}

.navbar-bg {
background-color: rgba(248, 249, 250, 0.8);
}

/* body */

.main-body {
  margin-top: 100px;
}


/* footer */

nav.bottom-bar {
  height: 20vh !important;
}













/* side menu  */

span.side-menu-item-text {
    color: black;
    font-family: verdana, sans-serif;
    font-weight: bold;
    text-align: center;
    position: relative;
    top: 5px;
    right: -55px !important;
  }
  
  a {
    background-color: gray;
    text-decoration: none;
  }
  
  div#item1 {
    top: 100px;
  }
  
  div#item2 {
    top: 150px;
  }
  
  div#item3 {
    top: 200px;
  }
  
  div.side-menu-item {
    background-color: gray;
    color: #2c3e50;
    border: none;
    border-radius: 30px;
    width: 200px;
    height: 30px;
    position: fixed;
    left: -180px;
    transition: .7s ease;
  }
  
  div.side-menu-item:hover {
    background-color: gray;
    position: fixed;
    border-radius: 30px;
    left: -50px;
    width: 200px;
    
    /* box-shadow: 0px 5px 0px #c0392b; */
  }
  
  div.side-menu-item:active {
    transition: 0s;
    color: #ecf0f1;
  }
  
  