
<!-- header -->
<nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mx-auto h1" > Hatoofie Questions</span>
</nav>

<!-- body -->
<div class="container mt-4">
    <div class="row justify-content-md-center">
        <div class="col-10">
                <router-outlet></router-outlet>
        </div>
    </div>
</div>

<!-- bottom -->
<nav class="navbar navbar-light bg-light mt-4 bottom-bar">
        <span class="navbar-brand mr-2 h1"> Hatoofie's Labs</span>
        <span> Copyright © 2018 Hatooff  |  Contact Us  |  Frequently Asked Questions  |  Terms of Service  |  Privacy Policy</span>
</nav>